<% title = 'Список отчётов' %>
<% html_title(title) -%>
<h2><%= title %></h2>
<ul>
<% @reports.each do |report| %>
    <li><%= link_to report.title, self.send(report.path) %></li>
<% end %>
  <% if @reports.blank? %>
    <li>Нет доступных отчётов</li>
  <% end %>
</ul>
